
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env
.env.*

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS junk
.DS_Store
Thumbs.db

# AWS & MinIO configs
.aws/
.android/


